{{#isQueryParam}}{{#isArray}}ctx.queryParams("{{baseName}}"){{/isArray}}{{^isArray}}ctx.queryParamAsClass<{{{dataType}}}>("{{baseName}}"){{#required}}.get(){{/required}}{{^required}}.getOrNull(){{/required}}{{>paramDefault}}{{/isArray}}{{/isQueryParam}}